<mat-toolbar 
  class="toolbar"
>
  <div routerLink="blog">
    <mat-icon
      class="toolbar-icon"
    >newspaper</mat-icon>
  </div>
  <div routerLink="projects">
    <mat-icon
    class="toolbar-icon"
    >apps</mat-icon>
  </div>
  <div routerLink="">
    <mat-icon
      class="toolbar-icon"
    >home</mat-icon>
  </div>
  <div routerLink="works">
    <mat-icon
      class="toolbar-icon"
    >work</mat-icon>
  </div>
  <div>
    <mat-icon
      class="toolbar-icon"
    >face_6</mat-icon>
  </div>
</mat-toolbar>